:root {
  --color: #4b7cb6;
}

.gallery-card{
  appearance: none;
  border: none;
  background: none;
  font-size: 40px;
  font-weight: bold;
  color: var(--color);
  padding: 10px 10px;
  position: relative;
}

.gallery-card::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 40px;
  height: 40px;
  transition: width 0.3s, height 0.3s;
}

.gallery-card::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 40px;
  height: 40px;
  transition: width 0.3s, height 0.3s;
}


.gallery-card:hover::before{
    width:50%;
    height: 50%;
    border-top: 4px solid var(--color);
    border-left: 4px solid var(--color);
}
.gallery-card:hover::after {
  width:50%;
  height: 50%;
  border-bottom: 4px solid var(--color);
  border-right: 4px solid var(--color);
}
